.con{

}

iframe{
    border: none;
    border: 1px solid #eee;
    margin: 1em;
    padding: 0.5em;
}

.field{
    padding: 0.5em;
}

.modals {
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    background: rgba(0,0,0, 0.75);
    place-content: center;
    display: none;
}
.modals.opened {
    display: grid;
    height: calc(100% - 1em);
    width: 100%;
}


dialog#my-dialog[open="true"] {
    display: block;
    position: unset;
}